<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Previous Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
</head>

<body>
    <div class="card-container">
        {% for category in categories %}
        <a href="/blindrank?categories={{ category['name'] }}">
            <div class="card">
                <img src="{{ category['image'] }}" alt="Image">
                <div class="card-content">
                    <h2>{{ category['name'] }}</h2>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
</body>

</html>
